#titulo{
	color: #514b4a;
	font-family: Arial;
	font-style: italic;	
}

#flame{
        color: #873427;
        font-family: Arial;
        font-style: italic;
	text-align: center;
}
#grafica{
	color: #43413f;
        font-family: Helvetica;
        font-style: italic;
        text-align: center;
}

